<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('BOARD')">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')">
</nav>

<div class="container">
    <h2>Board</h2>
    <div>Total : <span th:text="${boards.totalElements}"></span></div>

    <form class="row g-3 justify-content-end" th:action="@{/board/list}" method="get">
        <div class="col-auto">
            <label for="searchText" class="visually-hidden">SearchText</label>
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}">1</td>
            <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id})}">Hello</a></td>
            <td th:text="${board.user.username}">James</td>
        </tr>
        </tbody>
    </table>

    <div class="text-end">
        <a type="button" class="btn btn-primary" th:href="@{/board/form}">Write</a>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${boards.pageable.pageNumber + 1 == 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page = ${boards.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${boards.pageable.pageNumber == i-1} ? 'active'" th:each="i: ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:text="${i}" th:href="@{/board/list(page = ${i-1}, searchText = ${param.searchText})}">1</a>
            </li>
            <li class="page-item" th:classappend="${boards.pageable.pageNumber == boards.totalPages - 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page = ${boards.pageable.pageNumber + 1}, searchText = ${param.searchText})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->
</body>
</html>